.card-detail-container {
  width: 350px;
  height: 350px;
  text-align: center;
}
.title-pokemon {
  margin-bottom: 3rem;
}
.title-pokemon::first-letter {
  text-transform: uppercase;
}
.img-detail {
  width: 100%;
  height: auto;
}

.container-detail {
  display: flex;
  justify-content: center;

  background-color: #6f42c1;
  height: 80vh;
  border-radius: 10px;
  font-size: 20px;
  color: white;
}
span {
  font-weight: 400;
  font-size: 25px;
}

.container-info p {
  margin-bottom: 0.5rem;
}
