.card-image-container {
  width: 350px;
  height: 350px;
  text-align: center;
}
.title-pokemon {
}
.title-pokemon::first-letter {
  text-transform: uppercase;
}
.img-detail {
  width: 100%;
  height: auto;
}

.container-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
  height: 80vh;
  border-radius: 10px;
  font-size: 20px;
  color: #00000090;
}
span {
  font-weight: 400;
  font-size: 25px;
  text-decoration: underline;
}

.container-info {
}
